.contact-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: calc(100% - 40px);
	margin: 20px auto;
}

@media (max-width: 768px) {
	.contact-container {
		width: calc(100% - 70px);
	}
}
