<div class="contact-container">
	<h3 class="contact-title">Contact Me</h3>
	<div class="contact-links">
		<app-button href="mailto:business@kevinxavierandrade.com" [icon]="faEnvelope" label="Send me an E-mail"></app-button>
		<app-button href="https://www.linkedin.com/in/kevinxavierandrade/" [icon]="faLinkedin" label="@kevinxavierandrade"></app-button>
		<app-button href="https://www.instagram.com/iamkvble/" [icon]="faInstagram" label="@iamkvble"></app-button>
		<app-button href="https://github.com/Kvble" [icon]="faGithub" label="@Kvble"></app-button>
	</div>
</div>

