<div class="grid-container">
	<div class="card div1"></div>
	<div class="card div2"></div>
	<div class="card div3"></div>
	<div class="card div4"></div>
	<div class="card div5"></div>
	<div class="card div6"></div>
	<div class="card div7"></div>
	<div class="card main">
		<div class="main-intro">
			<div class="main-image"></div>
			<div class="main-details">
				<p class="main-name">Kevin Xavier Andrade</p>
				<div class="main-grid">
					<fa-icon [icon]="faLaptopCode" class="icon"></fa-icon><p class="main-role">  AI Software Engineer</p>
					<fa-icon [icon]="faLocationDot" class="icon"></fa-icon><p class="main-location">  Italy</p>
					<fa-icon [icon]="faGlobe" class="icon"></fa-icon><p class="main-language">  English, Italian, Spanish</p>
				</div>
			</div>
		</div>
		<div class="main-cta">

		</div>
	</div>
	<div class="card div9"></div>
	<div class="card div10"></div>
	<div class="card div11"></div>
	<div class="card div12"></div>
	<div class="card div13"></div>
</div>
