.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		"workflow n-projects n-years skills"
		"workflow profile profile skills"
		"contact profile profile skills"
		"contact clients clients projects";
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 1600px;
	height: auto;
	min-height: 80vh;
	gap: 15px;
	color: white;
	margin-top: 10vh;
}

.card {
	background-color: rgb(16, 16, 16);
	border: 1px solid rgb(25, 25, 25);
	border-radius: 20px;
	padding: 10px;
	opacity: 0;
	transform: scale(1);
	transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
	animation: 0.8s ease-out forwards;
	overflow: hidden;
}

.profile {
	grid-area: profile;
	animation-name: zoomOut;
	animation-delay: 0.2s;
	padding: 25px;
}

.workflow {
	grid-area: workflow;
	animation-name: slideInFromLeft;
	animation-delay: 0.2s;
}
.contact {
	grid-area: contact;
	animation-name: slideInFromLeft;
	animation-delay: 0.4s;
}
.n-projects {
	grid-area: n-projects;
	animation-name: slideInFromTop;
	animation-delay: 0.6s;
}
.n-years {
	grid-area: n-years;
	animation-name: slideInFromTop;
	animation-delay: 0.4s;
}
.clients {
	grid-area: clients;
	animation-name: slideInFromBottom;
	animation-delay: 0.2s;
}
.skills {
	grid-area: skills;
	animation-name: slideInFromRight;
	animation-delay: 0.6s;
}
.projects {
	grid-area: projects;
	animation-name: slideInFromBottom;
	animation-delay: 0.4s;
}

@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(9, 1fr);
		grid-template-areas:
			"n-projects n-years"
			"profile profile"
			"profile profile"
			"skills skills"
			"skills skills"
			"clients clients"
			"projects projects"
			"workflow contact"
			"workflow contact";
		max-width: 600px;
		width: 90%;
		margin: auto;
		margin-top: 2vh;
		margin-bottom: 2vh;
		height: auto;
	}
}
