.navbutton {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 25px;
    transition: color 0.2s;
}

.navbutton::before {
    display: none;
}

.active {
    color: black;
}

