<div class="profile-container">
	<div class="profile-intro">
		<div class="profile-image"></div>
		<div class="profile-side">
			<div class="profile-availability">
				<span class="availability-indicator"></span>
				<span class="availability-text">
					Currently Focused on Exciting Projects
				</span>
			</div>
			<p class="profile-name">Kevin Xavier Andrade</p>
			<div class="profile-title">
				<span>I'm a </span>
				<span #typewriterText class="typewriter-text"></span>
			</div>
		</div>
	</div>
	<div class="profile-info"></div>
</div>
