.counter-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.counter-number {
	position: absolute;
	font-size: 150px;
	font-weight: 700;
	color: #fff;
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0)
	);
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.counter-label {
	position: absolute;
	top: 65%;
	text-shadow: 0 0 5px #000;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	white-space: nowrap;
	text-align: center;
}

@media (max-width: 768px) {
	.counter-number {
		font-size: 100px;
	}
	.counter-label {
		font-size: 25px;
		white-space: normal;
		text-align: center;
	}
}
