html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: "Manrope", "Manrope Placeholder", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: rgb(5, 5, 5);
}

@keyframes slideInFromLeft {
	from {
		opacity: 0;
		transform: translateX(-80px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInFromRight {
	from {
		opacity: 0;
		transform: translateX(80px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInFromTop {
	from {
		opacity: 0;
		transform: translateY(-80px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideInFromBottom {
	from {
		opacity: 0;
		transform: translateY(80px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes zoomOut {
	from {
		opacity: 0;
		transform: scale(1.2);
	}
	to {
		opacity: 1;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}
